<div class="jumbotron">
  <h1>Connexion</h1>
  <p class="lead">
    <div class="row">
      <div class="col-xs-12">
        <label for="login">Login</label>
        <input type="text" placeholder="Login" id="login" class="form-control" />
      </div>
      <div class="col-xs-12">
        <label for="password">Mot de passe</label>
        <input type="text" id="password" placeholder="Mot de passe" class="form-control" />
      </div>
    </div>

  </p>
  <p>
    <button class="btn btn-lg btn-success" id="connexion" ng-click="doLogin()">Connexion<span class="glyphicon glyphicon-ok"></span></button>
  </p>
</div>